<template>
  <div class="user-window">
    <user-header></user-header>
    <router-view></router-view>
  </div>
</template>

<script>
import UserHeader from './UserHeader.vue';
export default {
  name: 'UserWindow',
  beforeCreate() {
    document.body.className = 'user-window';
  },
  components: {
    userHeader: UserHeader,
  }
}
</script>

<style scoped lang="sass">
</style>