<template>
    <div class="g-container user-add-ground">
       <div class="user-add-ground__head"> Create playground </div>
       <form class="user-add-ground__form">
          <input class="user-add-ground__form-item" placeholder="Name" type="text" name="name" v-model="playground.name">
          <GmapAutocomplete class="user-add-ground__form-item" @place_changed="setPlace"></GmapAutocomplete>
          <input class="user-add-ground__form-item" placeholder="Phone number" type="text" name="phone"  v-model="playground.phone">
          <input class="user-add-ground__form-item" placeholder="email" type="text" name="email"  v-model="playground.email">
          <div class="user-add-ground__form-sports"> <span>Sports</span>
            <div v-for ="(sport, index) in sports">
              <input id='two' type='checkbox' :value=sport._id  v-model="playground.sports"   />
              <label for="two">{{sport.name}}</label>
            </div>
          </div> 
          <div class="user-add-ground__form-button">
            <button class="button _red" @click="addGround($event)">Create</button>
          </div>
       </form>
    </div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps'
export default {
    name: 'UserAddGround',
    data () {
      return {
        playground : {
          name: '',
          adress: '',
          email: '',
          phone: '',
          later: '',
          lnger:'',
          sports: []
        },
        sports: [],
        place: null
      }
    },
    methods: {
      addGround(e) {
        e.preventDefault();
        // User types adress at playground.adress input. 
        // Then getPosition function initialize geocoder and take inputed adress
        // Then getPosition function call saveResult function in callback
        // saveResult function get lat and lng and transform it to string
        // saveResult function send post request with playground object

        let vm = this;
        function saveResult(result) {
              let lat = result.geometry.location.lat();
              let lng = result.geometry.location.lng();
              vm.playground.lat = lat.toString();
              vm.playground.lng = lng.toString();
              vm.$http.post('api/admin/playgrounds', vm.playground).then((data) => {
            })
        }

        function getPosition(callback, address) {
            let newAddress = address || 'Katowice, Poland';
            let geocoder = new google.maps.Geocoder();
            if (geocoder) {
                geocoder.geocode({
                    'address': newAddress
                }, function (results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        callback(results[0]);
                    }
                });
            }
        }

        let adress = this.playground.adress;
        getPosition(saveResult, adress);
      },
    setPlace(place) {
        this.playground.adress = place.formatted_address
    },

    },
    beforeCreate() {
        this.$http.get('api/admin/sports').then((data) => {
          this.sports = data.body
        })
    }
  }
</script>

<style lang="sass" scoped>
input:focus
    border: 1px solid #2c2c39  !important;

input:focus, textarea:focus, select:focus
    outline-offset: 0px !important;
    outline: none !important;

.user-add-ground
    &__head
        display: flex
        margin: 40px 0 30px
        font-size: 32px
        font-weight: 700
    &__form 
        display: flex
        flex-wrap: wrap
        flex-direction: column
        max-height: 450px
        &-heading
            font-size: 22px
            margin-bottom: 15px
        &-item
            max-width: 400px
            width: 100%
            margin-bottom: 30px
            height: 50px
            border-radius: 10px
            border: 1px solid #cecece
            padding-left: 20px
            transition: 0.2s ease
        &-checkbox
            max-width: 400px
            width: 100%
            justify-content: flex-start
            display: flex
            flex-wrap: wrap
            margin-bottom: 20px
            &-item
                width: 100%
                text-align: left
        &-button 
            text-align: left
            margin-top: 30px
        &-sports
            text-align: left
            & span
                font-size: 22px

</style>