<template>
    <div>
        <div class="user-header">
            <div class="user-header__profile">Account</div>
            <div class="user-header__logout"> Log out</div>
        </div>
        <div class="user-subheader">
            <router-link to="/user" class="user-subheader__link"> Profile </router-link>
            <router-link to="/user/add-ground" class="user-subheader__link"> Add Playground </router-link>
        </div>
    </div>
</template>

<script>
 
</script>

<style scoped lang="sass">
@import "../../../static/_variables.sass";
.user
    &-header
        background: $orange
        width: 100%
        height: 80px
        color: #fff
        display: flex
        justify-content: space-between
        align-items: center
        &__profile
            margin-left: 50px
        &__logout
            margin-right: 50px
    &-subheader
        background: $grey
        height: 60px
        color: #fff
        display: flex;
        justify-content: flex-start
        align-items: center
        &__link 
            margin-left: 50px
            cursor: pointer
            text-decoration: none
            color: #fff
</style>