<template>
  <div class="admin-main">
    <h1 class="admin-main__heading">{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'AdminMain',
  data () {
    return {
      msg: 'Welcome to Admin Page'
    }
  }
}
</script>

<style scoped lang="sass">
  .admin-main
    display: flex
    justify-content: center
    &__heading
      margin-top: 300px

</style>
