<template>
  <div class="admin-window">
    <admin-header></admin-header>
    <div class="container">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import AdminHeader from './AdminHeader.vue';
export default {
  name: 'AdminWindow',
  components: {
    adminHeader: AdminHeader,
  }
}
</script>

<style scoped lang="sass">
</style>