<template>
    <div class="admin-add">
        <div>
            <b-btn block v-b-toggle.accordion1>Add Sport</b-btn>
            <b-collapse id="accordion1" accordion="my-accordion">
                <b-card >
                    <div class="admin-add__accordion-item">
                        <div class="col-4">
                            <b-form-input v-model="text" placeholder="Type sport name"></b-form-input>
                            <b-button class="primary admin-add__accordion-button" href="" @click="addSport" >
                                Save
                            </b-button>
                        </div>
                        <b-list-group class="col-4 admin-add__accordion-list">
                            <b-list-group-item variant="success" >
                                Sport List
                            </b-list-group-item>
                            <b-list-group-item v-for ="( sport, index) in sports" :key='sport.name' class="admin-add__accordion-list-item">
                                <span>{{sport.name}} </span>
                                <button type="button" class="close" aria-label="Close" @click="removeSport(sport)">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </b-list-group-item> 
                        </b-list-group>
                       
                    </div>
                </b-card>
            </b-collapse>
        </div>
    </div>
</template>

<script>
export default {
  name: 'AdminAdd',
    data () {
        return {
        sports: [],
        text: ''
        }
    },
    mounted() {
        this.loaded()
    },
    methods: {
        addSport(event) {
            if(this.text.length > 0) {
                this.$http.post('api/admin/sports', {name: this.text}).then((val) => {
                    this.loaded();
                });
                this.text = '';
            }
            else {
                alert("Type sport name!");
            }
        },
        removeSport(i) {
            this.$http.delete('api/admin/sport/' + i._id).then((val) => {
                this.loaded();
            });
        },
        loaded() {
            this.$http.get('api/admin/sports').then(response => {
                this.sports = response.data;
            }, response => console.log(response));
        }
    }
  }
</script>

<style lang="sass" scoped>
    .admin-add
        margin-top: 40px
        &__accordion
            &-item
                display: flex
                align-items: flex-start
                justify-content: space-around
            &-button 
                margin-top: 20px;
            &-list
                max-height: 300px;
                overflow-y: scroll;
                &-item
                    display: flex;
                    justify-content: space-between;
</style>