<template>
    <b-navbar toggleable type="inverse" variant="success">

        <b-nav-toggle target="nav_collapse"></b-nav-toggle>

        <b-link class="navbar-brand" to="/admin">
            <span>AdminWindow</span>
        </b-link>

        <b-collapse is-nav id="nav_collapse">
            <b-nav is-nav-bar>
                <b-nav-item><router-link to="/admin/admin-main">Main</router-link></b-nav-item>
                <b-nav-item><router-link to="/admin/admin-add">Modifications</router-link></b-nav-item>
            </b-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>

</script>