<template>
<div class="calendar">
    <header>
        <button class="secondary" style="align-self: flex-start; flex: 0 0 1">Today</button>
        <div class="calendar__title" style="display: flex; justify-content: center; align-items: center">
        <div class="icon secondary chevron_left">‹</div>
        <h1 class="" style="flex: 1;"><span></span><strong>18 JAN – 24 JAN</strong> 2016</h1>
        <div class="icon secondary chevron_left">›</div>
        </div> 
        <div style="align-self: flex-start; flex: 0 0 1"></div>
    </header>

    <div class="outer">
        <table>
            <thead>
                <tr>
                <th class="headcol"></th>
                <th>Mon, 18</th>
                <th>Tue, 19</th>
                <th class="today">Wed, 20</th>
                <th>Thu, 21</th>
                <th>Fri, 22</th>
                <th class="secondary">Sat, 23</th>
                <th class="secondary">Sun, 24</th>
                </tr>
            </thead>
        </table>
        <div class="wrap"> 
            <table class="offset">
                <tbody>
                    <tr>
                        <td class="headcol">6:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">6:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">7:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">7:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">8:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">8:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">9:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">9:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">10:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">10:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">11:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">11:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">12:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">12:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">13:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">13:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">14:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">14:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">15:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">15:30</td>
                         <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">16:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">16:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">17:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">17:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">18:00</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                    <tr>
                        <td class="headcol">18:30</td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                        <td><div class="event"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>50zl</div></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</template>

<script>
export default {
    name: 'MainGroundItemSchedule',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>

.outer
    position: relative

.calendar
    margin: 0 auto
    min-width: 500px
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2), 0px 3px 7px rgba(0, 0, 0, 0.1)

thead
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2)
    th
        text-align: center
        width: 100%

header
    background: #fff
    padding: 1rem
    color: rgba(0, 0, 0, 0.7)
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    h1
        font-size: 1.25rem
        text-align: center
        font-weight: normal

tbody
    position: relative
    top: 100px

table
    background: #fff
    width: 100%
    height: 100%
    border-collapse: collapse
    table-layout: fixed

.headcol
    width: 60px
    font-size: 0.875rem
    font-weight: 500
    color: rgba(0, 0, 0, 0.5)
    padding: 0.25rem 0
    text-align: center
    border: 0
    position: relative
    top: 5px;
    border-bottom: 1px solid transparent

thead
    th
        font-size: 1rem
        font-weight: bold
        color: rgba(0, 0, 0, 0.9)
        padding: 1rem
    z-index: 2
    background: white
    border-bottom: 2px solid #ddd

tr
    height: 20px
    td
        height: 20px

td
    text-align: center

tr
    &:nth-child(odd) td:not(.headcol)
        border-bottom: 1px solid #e8e8e8
    &:nth-child(even) td:not(.headcol)
        border-bottom: 1px solid #eee
    td
        border-right: 1px solid #eee
        padding: 0
        white-space: none
        word-wrap: nowrap

tbody tr td
    position: relative
    vertical-align: top
    height: 40px
    padding: 0.25rem
    width: auto

.secondary
    color: rgba(0, 0, 0, 0.4)

.checkbox
    display: none
    + label
        border: 0
        outline: 0
        width: 100px
        heigth: 100px
        background: white
        color: transparent
        display: block
        display: none
    &:checked + label
        border: 0
        outline: 0
        width: 100%
        heigth: 100%
        background: red
        color: transparent
        display: inline-block

.event
    background: #2c3e50
    color: white
    font-size: 0.875rem
    z-index: 2
    padding: 0.5rem
    overflow-x: hidden
    transition: all 0.2s
    cursor: pointer
    &:hover
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2)
        background: #ff5733
    &.double
        height: 200%

button.secondary
    border: 1px solid rgba(0, 0, 0, 0.1)
    background: white
    padding: 0.5rem 0.75rem
    font-size: 14px
    color: rgba(0, 0, 0, 0.5)
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1)
    cursor: pointer
    font-weight: 500
    &:hover
        background: #fafafa
    &:active
        box-shadow: none
    &:focus
        outline: 0
.today
    color: #ff5733
.icon
    font-size: 1.5rem
    margin: 0 1rem
    text-align: center
    cursor: pointer
    vertical-align: middle
    position: relative
    top: -2px
    &:hover
        color: red
</style>