<template>
    <div class="main-header">
        <div class="main-header__ham" @click='openMenu'>
            <span :class="{open: isOpen}"> </span>
            <span :class="{open: isOpen}"> </span>
            <span :class="{open: isOpen}"> </span>
        </div>
        <div class="main-header__container" :class="{opencontainer: isOpen}">
            <ul class="main-header__list">
                <li class="main-header__list-item"><router-link to="/">Main</router-link></li>
                <li class="main-header__list-item"><router-link to="/main/grounds">Playgrounds</router-link></li>
                <li class="main-header__list-item"><router-link to="/">Workouts</router-link></li>
                <li class="main-header__list-item"><router-link to="/">Events</router-link></li>
                <li class="main-header__list-item" v-if="loggedIn"><router-link to="/user">Account</router-link></li>
                <li class="main-header__list-item" v-if="!loggedIn"><router-link to="/login">Sign in</router-link></li>
                <li class="main-header__list-item signout" v-if="loggedIn" @click="logout($event)">Sign out</li>
            </ul>
        </div>
    </div>
</template>

<script> 
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'
export default {
    name: 'MainHeader',
    data() {
        return {
            isOpen: false
        }
    },
    computed: {
        ...mapGetters({
            loggedIn: 'isLoggedIn'
        })
    },
    methods: {
         ...mapActions({logOut: 'logout'}),
        logout(e) {
            e.preventDefault();
            this.logOut();
        },
        openMenu() {
            this.isOpen = !this.isOpen
        }
    }
}
</script>

<style lang="sass">
@import "../../../static/_variables.sass"
.main-header
    &__ham
        display: none
    &__container
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        z-index: 2;
    &__list
        text-transform: uppercase
        list-style: none
        display: flex
        padding: 0
        &-item
            padding: 35px 50px
            a 
                text-decoration: none
                color: white
        & .signout
            position: absolute
            right: -100px
            padding: 35px 0 0 0
            color: white
            cursor: pointer
@media (max-width: $large-width)
    .main-header
        &__list
            &-item
                padding: 25px 30px
            & .signout
                right: -100px
                padding: 25px 0 0 0
@media(max-width: $medium-width)
    .main-header
        &__list
            &-item
                padding: 25px 15px
@media (max-width: $small-width)
    .main-header
        &__container
            z-index: 3
            position: fixed
            background: $grey
            width: 100vw
            height: 100vh
            display: flex
            justify-content: center
            transform: translateX(-200%)
            transition: 0.5s ease
        & .opencontainer
            transform: translateX(-50%) !important
        &__ham
            display: block
            position: fixed
            top: 30px 
            left: 30px
            color: white
            z-index: 10
            span
                display: block
                background: white
                border-radius: 2px
                width: 40px
                height: 4px
                margin-bottom: 5px
                transition: 0.3s ease
            & .open
                &:nth-child(1)
                    transform: rotate(45deg)
                    position: relative
                    top: 8px
                &:nth-child(2)
                    display: none
                &:nth-child(3)
                    transform: rotate(-45deg)
        &__list
            flex-direction: column
            justify-content: space-around
            & .signout
                    right: initial
                    padding: initial
                    position: static
</style>