<template>
    <div class="add-user__container">
        <div class="g-container add-user">
            <div class="add-user__head"> Sign Up </div>
            <form class="add-user__form">
                <input class="add-user__form-item" placeholder="Email" type="email" name="email" v-model="email">
                <input class="add-user__form-item password" placeholder="Password" type="password" name="password" v-model="password">
                <input class="add-user__form-item" placeholder="Repeat Password" type="password" name="checkpassword" v-model="checkPassword">
                <button class="add-user__form-button" @click="signUp($event)">Save</button>
            </form>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'MainAddUser',
    data() {
        return {
            email: '',
            password: '',
            checkPassword: ''
        }
    },
    methods: {
        ...mapActions({add: 'signup'}),
        signUp(e) {
            e.preventDefault();
            if(this.password === this.checkPassword & this.email.length > 0  ) {
                this.add({
                    email: this.email,
                    password: this.password
                })
                this.$router.push('/main');
            } else if (this.email.length < 1) {
                alert("Enter your email");
            } else {
                alert("Passwords are not the same");
            }

        }
    },
    beforeCreate() {
        document.body.className = 'add-user';
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../../../static/_variables.sass";
.add-user
    &__head
        font-size: $grand-size
        font-weight: $big
        color: white
        margin-bottom: 40px
    &__container
        display: flex
        flex-direction: column
    &__form
        display: flex
        flex-wrap: wrap
        max-width: 400px
        width: 100%
        margin: 0 auto
        &-item 
            width: 100%
            padding: 20px
            border: 10px solid $yellow
            background: $orange
            color: white
            outline: none
        & ::placeholder
            color: white
        & .password
            border-top: 0px solid
            border-bottom: 0px solid
        &-button
            margin: 30px auto 20px
            padding: 15px 60px
            font-size: $normal-size
            font-weight: $small
            background: $yellow
            border: 0 solid
            outline: none
            &:hover
                cursor: pointer
</style>