<template>
    <div class="main-footer__container">
    </div>
</template>

<script> 
export default {
    name: 'MainFooter',
}
</script>

<style scoped lang="sass">
@import "../../../static/_variables.sass"

.main-footer
    &__container
        background: $grey
        position: absolute
        width: 100%
        bottom: 0
        height: 60px
        color: white
</style>