<template>
    <div>
        <div class="grounds__container">
            <div class="grounds-column _left">
                <gmap-map
                    :center="center"
                    :zoom="10"
                    :options="{styles: styles, gestureHandling: 'greedy'}"
                >
                    <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        :clickable="true"
                        @click="center=m.position"
                        :icon="{url: 'http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange.png'}"
                    ></gmap-marker>
                </gmap-map>
            </div>
            <div class="grounds-column _right">
                <div class="grounds-column__heading"> Find a Playground</div>
                <div class="grounds-column__container"> 
                    <div class="grounds-column__container-filters" @click="toggle"> 
                        <div> Filters </div>
                    </div>
                    <transition name="fade">
                        <div class="content" v-show="open">
                            <label  for="inputPool">
                                <input class="filters-checkbox" id="inputPool" type="checkbox" v-model="checkedTypes" value="pool">
                                <span class="filters-span"> Pool </span>
                            </label>
                            <label  for="inputFootball">
                                <input class="filters-checkbox" id="inputFootball" type="checkbox" v-model="checkedTypes" value="football">
                                <span class="filters-span"> Football </span>
                            </label>
                            <label  for="inputBasketball">
                                <input class="filters-checkbox" id="inputBasketball" type="checkbox" v-model="checkedTypes" value="basketball">
                                <span class="filters-span"> Basketball </span>
                            </label>
                        </div>
                    </transition>
                   
                </div>

                <div class="grounds-list">
                    <div class="grounds-list__item" 
                        v-for ="( ground, index) in grounds" 
                        @mouseover = "changeCentering($event, ground.position)"
                        @click = "goToGround($event, ground)"
                    >
                        <div class="grounds-list__item-info">
                            <span class="grounds-list__item-name">{{ground.name}}</span>
                            <div> {{ground.adress}}</div>
                            <div> {{ground.phone}} </div>
                        </div>
                        <div class="grounds-list__item-schedule">
                            <div class="grounds-list__item-schedule-item"> 
                                <span>MON-FRI</span><span>6:00 AM - 10:00 PM</span>
                            </div>
                            <div class="grounds-list__item-schedule-item"> 
                                <span>SAT</span><span>7:00 AM - 9:00 PM</span>
                            </div>
                            <div class="grounds-list__item-schedule-item">
                                <span>SUN</span><span>7:00 AM - 9:00 PM</span>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';
import Router from 'vue-router'
import {eventBus} from '../../main';

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBnJG9i8KtSAPq9RBHDjAT35QM419CKZ2Q',
    libraries: 'places'
  }
})

// get markers positions
let markerList = [];
function getPosition (array, search) {
    array.forEach(function(item){
        if(item.position) {

            console.log(item.position.lat);
            // transform string to number
            item.position.lat = Number(item.position.lat);
            item.position.lng = Number(item.position.lng);
            item.position = {position: item.position};
    
            markerList.push(item.position);
        }
    });
    return markerList;
}

export default {
    
    name: 'MainGroundsMap',
     data() {
        return {
            open: false,
            checkedTypes: [],
            grounds: [],
            center: {lat: 45.512794, lng: -122.679565},
            markers: [],
            styles: [
            {elementType: 'geometry', stylers: [{color: '#eaf2fa'}]},
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#ffffff'}]
            },
           
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#7285b3'}]
            },
          ]
        }
    },
    methods: {
        changeCentering(e, position) {
            this.center = position.position;
        },
        toggle() {
            if(!this.open) {
				this.open = true;
			} else {
				this.open = false;
			}
        },
        goToGround(e, ground) {
            this.$router.push({ path: '/main/grounds/'+ ground._id})
        }
    },
    beforeCreate() {
        document.body.className = 'grounds';
        this.$http.get('api/admin/playgrounds').then((data) => {
               this.grounds = data.body.playgrounds;
               console.log(data.body.playgrounds);
        }).then(()=> {
            getPosition(this.grounds, "position");
            this.markers = markerList;
        });
    },
  }
</script>

<style lang="sass" scoped>
@import "../../../static/_variables.sass"
::-webkit-scrollbar 
    width: 12px
::-webkit-scrollbar-track 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    -webkit-border-radius: 10px
    border-radius: 10px
::-webkit-scrollbar-thumb 
    -webkit-border-radius: 10px
    border-radius: 10px
    background: $orange
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5)
::-webkit-scrollbar-thumb:window-inactive 
    background: rgba(255,0,0,0.4)
.grounds
    &__container
        top: 110px
        position: relative
        box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.12);
        background: white
        display: flex
        height: calc(100vh - 110px)
        overflow: hidden
        & .fade-enter
            opacity: 0;
        & .fade-enter-active
            transition: opacity 0.5s
        & .fade-leave-active
            transition: opacity 0.5s
            opacity: 0

    &-column
        width: 50%;
        &._right
            overflow-y: scroll
            position: relative
        &__heading
            font-size: $big-size
            font-weight: $grand
            font-style: italic
            color: $orange
            text-transform: uppercase
            padding: 20px
        &__container
            &-filters
                font-size: $small-size
                font-weight: $big
                height: 45px
                background: $light-blue
                cursor: pointer
                border-top: 1px solid $dark-blue
                display: flex
                justify-content: center
                align-items: center
            & .filters-checkbox
                position: absolute
                top: -20px
            & .filters-span
                background: $yellow
                padding: 10px 20px 
                display block
                cursor: pointer
            & label
                margin: 25px 0;
        .vue-map-container
            height: 100% 
            width: initial 
    &-list
        display: flex
        flex-wrap: wrap;
        &__item
            border-top: 1px solid $dark-blue
            padding: 80px 10px 30px 
            display: flex
            justify-content: space-around
            width: 100%
            position: relative
            text-align: left
            transition: 0.2s ease
            &:hover 
                cursor: pointer
                background: $light-blue
                & .grounds-list__item-name
                    color: $orange
            & *
                pointer-events: none
            &-name
                position: absolute
                left: 90px
                top: 20px
                font-size: $normal-size
                font-weight: $big
@media(max-width: $small-width)
    .grounds
        &__container
            top: 90px
            flex-direction: column-reverse
            justify-content: space-between
        &-column
            width: 100%
            min-height: 200px
        & ._left
            height: 400px
        
</style>