<template>
    <div>
        <div>
            <div>
                <gmap-map
                    :center="center"
                    :zoom="10"
                    :options="{styles: styles, scrollwheel: false, disableDefaultUI: true, gestureHandling: 'greedy'}"
                >
                    <gmap-marker
                        :key="index"
                        v-for="(m, index) in markers"
                        :position="m.position"
                        :clickable="false"
                        :options="{scrollwheel: false}"
                        @click="center=m.position"
                        :icon="{url: 'http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange.png'}"
                    ></gmap-marker>
                </gmap-map>
            </div>
        </div>
    </div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';
import Router from 'vue-router'

Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBnJG9i8KtSAPq9RBHDjAT35QM419CKZ2Q',
    libraries: 'places'
  }
})

// get markers positions
let markerList = [];
function getPosition (array, search) {
    array.forEach(function(item){
        if(item.position) {
            // transform string to number
            item.position.lat = Number(item.position.lat);
            item.position.lng = Number(item.position.lng);

            item.position = {position: item.position};
            markerList.push(item.position);
        }
    });
    return markerList;
}

export default {
    
    name: 'MainMap',
     data() {
        return {
            open: false,
            checkedTypes: [],
            grounds: [],
            center: {lat: 45.512794, lng: -122.679565},
            markers: [],
            styles: [
            {elementType: 'geometry', stylers: [{color: '#eaf2fa'}]},
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#ffffff'}]
            },
           
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#7285b3'}]
            },
          ]
        }
    },
    beforeCreate() {
        this.$http.get('api/admin/playgrounds').then((data) => {
               this.grounds = data.body.playgrounds;
        }).then(()=> {
            getPosition(this.grounds, "position");
            this.markers = markerList;
        });
    },
  }
</script>

<style lang="sass" scoped>
@import "../../../static/_variables.sass"
.vue-map-container
        height: 500px
        width: initial        
</style>