<template>
    <div class="g-container">
        <div class="ground-item__container">
            <div class="ground-item__heading">
                <div class="ground-item__heading-info"> {{ground.name}}</div>
                <div class="ground-item__heading-slider"> </div>
            </div>
            <div class="ground-item__main">
                <div class="ground-item__main-adress">{{ground.adress}}</div>
                <div class="ground-item__main-hours">
                    <div> 
                        <span>MON-FRI</span><span>6:00 AM - 10:00 PM</span>
                    </div>
                    <div> 
                        <span>SAT</span><span>7:00 AM - 9:00 PM</span>
                    </div>
                    <div>
                        <span>SUN</span><span>7:00 AM - 9:00 PM</span>
                    </div>
                </div>
            </div>
            <!-- <div class="ground-item__schedule">
                <main-ground-item-schedule></main-ground-item-schedule>
            </div> -->
            <div class="ground-item__map">
                <gmap-map
                    :center="center"
                    :zoom="7"
                    :options="{styles: styles}"
                >
                    <gmap-marker
                    :key="index"
                    v-for="(m, index) in markers"
                    :position="m.position"
                    :clickable="true"
                    :draggable="false"
                    @click="center=m.position"
                    :icon="{url: 'http://maps.google.com/intl/en_us/mapfiles/ms/micons/orange.png'}"
                    ></gmap-marker>
                </gmap-map>
            </div>
        </div>
    </div>
</template>

<script>
import * as VueGoogleMaps from 'vue2-google-maps';
import Vue from 'vue';
Vue.use(VueGoogleMaps, {
  load: {
    key: 'AIzaSyBnJG9i8KtSAPq9RBHDjAT35QM419CKZ2Q',
    libraries: 'places', 
  }
})
import MainGroundItemSchedule from './MainGroundItemSchedule'
export default {
    name: 'MainGroundItem',
    data() {
        return {
            ground: {},
            open: false,
            checkedTypes: [],
            center: {lat:53, lng: 51},
            markers: [],
            styles: [
                {elementType: 'geometry', stylers: [{color: '#eaf2fa'}]},
                {
                    featureType: 'road',
                    elementType: 'geometry',
                    stylers: [{color: '#ffffff'}]
                },
                
                {
                    featureType: 'water',
                    elementType: 'geometry',
                    stylers: [{color: '#7285b3'}]
                },
            ],
        }
    },
    methods: {
    },
    created() {
        this.$http.get('api/admin/playground/'+ this.$route.params.id ).then((data) => {
            this.ground = data.body.playground;
            this.center = {
                lat: parseInt(data.body.playground.position.lat),
                lng: parseInt(data.body.playground.position.lng)
            };
            this.markers = [{
                position: this.center
            }];
        })
    },
    beforeCreate() {
        document.body.className = 'ground-item';

    },
    components: {
        mainGroundItemSchedule: MainGroundItemSchedule,
    },
}
</script>

<style lang="sass">
@import "../../../static/_variables.sass"
.ground-item
    &__container
        top: 110px;
        position: relative;
    &__heading
        display: flex;
        justify-content: space-between
        align-items: center
        &-info
            font-size: $big-size
            font-weight: $grand
            color: $orange
            padding-left: 50px
        &-slider
            height: 470px
            width: 50%
            background: url('https://s3.amazonaws.com/msc-media-linux-production/club_detail/57f415d89a2e9.jpg')
    &__main
        display: flex;
        justify-content: space-between;
        color: $av-grey
        min-height: 200px
        align-items: center
        background: white
        &-adress
            width: 50%
            text-align: center
            border-right: 1px solid $av-grey
            &:hover 
                color: $orange
                cursor: pointer
        &-hours
            width: 50%
            text-align: center
            &:hover 
                color: $orange
                cursor: pointer
    &__map
        padding-bottom: 50px
        .vue-map-container
            width: 100%
            height: 400px
    & .main-footer__container
        position: relative !important
        bottom: -60px !important

</style>