<template>
    <div>
        <main-slider></main-slider>
        <main-tabs></main-tabs>
        <main-map></main-map>
    </div>
</template>

<script>
import MainSlider from './MainSlider.vue';
import MainTabs from './MainTabs.vue';
import MainMap from './MainMap.vue';


export default {
        name: 'Main',
        data() {
            return {
                counter: 0
            }
        },
        components: {
            mainSlider: MainSlider,
            mainTabs: MainTabs,
            mainMap: MainMap
        },
        beforeCreate() {
            document.body.className = 'main';
        },
        created() {
            const token = localStorage.token;
            this.$store.dispatch('setToken', token)
        }
    }
</script>

<style lang="sass">

</style>