<template>
    <div class="main-slider" id="main-slider">
        <slider :pages="pages" :sliderinit="sliderinit">
        </slider>
        <button class="main-slider__button" @click="$router.push('/main/grounds/map')">Find Playground</button>
    </div>
</template>

<script>
import slider from 'vue-concise-slider'

export default {
    name: 'MainSlider',
    data () {
        return {
            // List of pictures [arr]
            pages:[
                {
                    style:{
                        background:'url(http://cdn.wallpapersafari.com/85/92/7ScGqo.jpg)'
                    }
                },
                {
                    style:{
                        background:`url(https://www.technogym.com/media/catalog/product/cache/1/thumbnail/9df78eab33525d08d6e5fb8d27136e95/K/A/KA01_gallery_01_2.jpg)`
                    }
                },
                {
                    style:{
                        background:`url(https://images.pexels.com/photos/209977/pexels-photo-209977.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb)`
                    },
                }
            ],
            sliderinit: {
            currentPage: 0,//current Page of slider
            thresholdDistance: 100,//Minimal distance (in px) to trigger swipe to next/previous slide during swipes
            thresholdTime: 100,//Minimal duration (in ms) to trigger swipe to next/previous slide during swipes
            autoplay: 5000,//delay between transitions (in ms).
            loop: true,//Set to true to enable continuous loop mode
            direction: 'horizontal'//Could be 'horizontal' or 'vertical' (for vertical slider).
            }
        }
    },
    components: {
        slider
    }
  }
</script>

<style scoped lang="sass">
@import "../../../static/_variables.sass";
.main-slider
    position: relative
    height: 620px
    width: 100%
    top: 0    
    &__button
        background: $orange
        color: white
        font-size: $normal-size
        font-weight: $big
        padding: 15px 60px
        border-radius: 35px
        text-transform: uppercase
        border: 0px solid
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%);
        z-index: 2
        cursor: pointer
        transition: 0.3s ease
        outline: none
        &:hover
            background: white
            color: $orange
    & .slider-container
        width: 100%
        height: 620px
        margin: 0
</style>