<template>
    <div class="g-container login__container">
       <div class="login__head"> RentSport </div>
       <form class="login__form">
          <input class="login__form-item" v-model="email" placeholder="Email" type="email" name="email">
          <input class="login__form-item password" v-model="password" placeholder="Password" type="password" name="password">
          <span class="login__form-error">{{ error }}</span>
          <button class="login__form-button" @click="login($event)">Sign in</button>
       </form>
       <span><router-link to="/add-user">Sign up</router-link></span>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'MainLogin',
    data() {
        return {
            email: '',
            password: '',
        }
    },
    computed: {
        error() {
            return this.$store.state.error
        },
    },
    methods: {
        ...mapActions({logIn: 'login'}),
        login(e) {
            e.preventDefault();
            this.logIn({
                email: this.email,
                password: this.password
            })
        }
    },
    updated() {
        if (this.error === undefined) {this.$router.push('/main')}
    },
    beforeCreate: function() {
        document.body.className = 'login';
    }
}
</script>

<style lang="sass" scoped>
@import "../../../static/_variables.sass";
.login
    &__head
        font-size: $grand-size
        font-weight: $big
        color: white
        margin-bottom: 60px
    &__container
        display: flex
        flex-direction: column
    &__form
        display: flex
        flex-wrap: wrap
        max-width: 400px
        width: 100%
        margin: 0 auto
        &-item 
            width: 100%
            padding: 20px
            border: 10px solid $yellow
            background: $orange
            color: white
            outline: none
            &::placeholder
                color: white
        & .password
            border-top: 0px solid
        &-button
            margin: 20px auto 20px
            padding: 15px 60px
            font-size: $normal-size
            font-weight: $normal
            background: $yellow
            border: 0 solid
            outline: none
            &:hover
                cursor: pointer
        &-error
            width: 100%
      
</style>