<template>
    <div>
        <div class= 'main-content'>   
            <div class="main-content__card">
                <div class="main-content__card-img _playgrounds"></div>
                <div class="main-content__card-head">Playground rent</div>
                <div class="main-content__card-separator"></div>
                <div class="main-content__card-description"> Book playground for workouts</div>
            </div>
            <div class="main-content__card">
                <div class="main-content__card-img _workouts"></div>
                <div class="main-content__card-head">Plan Workout</div>
                <div class="main-content__card-separator"></div>
                <div class="main-content__card-description"> Plan your workout</div>
            </div>
            <div class="main-content__card">
                <div class="main-content__card-img _events"></div>
                <div class="main-content__card-head">Sport events</div>
                <div class="main-content__card-separator"></div>
                <div class="main-content__card-description"> Check sport events in your city</div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from "vue"
export default {
  name: 'MainTabs',
  data() {
      return {
      }
  },
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="sass" scoped>
@import "../../../static/_variables.sass";
@keyframes mymove 
    0%
        top: 0px
    100%
        top: -15px
.main-content
    display: flex
    justify-content: center
    background: $orange
    padding: 40px 0
    &__heading
        color: white
        font-size: $normal-size
        font-weight: $normal
    &__card
        color: white
        padding: 40px 20px
        display: flex
        max-width: 400px
        justify-content: center;
        flex-wrap: wrap
        &:hover
            cursor: pointer
            position: relative
            animation: mymove 0.5s
            animation-fill-mode: forwards
            background: #ff5733
            z-index: 2
            box-shadow: 0 0 35px rgba(0,0,0,0.7);
            
        &-img
            width: 100%
            padding: 10px 0
            height: 50px
        & ._playgrounds
                background: url('https://findsport.ru/images/svg/playground-white.svg') no-repeat center
                background-size: contain
        & ._workouts
                background: url('https://findsport.ru/images/svg/section-white.svg') no-repeat center
                background-size: contain
        & ._events
                background: url('https://findsport.ru/images/svg/building-white.svg') no-repeat center
                background-size: contain
        &-head
            width: 100%
            padding: 10px 0
        &-description
                width: 100%
                padding: 10px 0
        &-separator
            width: 50%
            height: 3px
            background: white
@media (max-width: $small-width) 
    .main-content
        flex-direction: column
        align-items: center

                

        
</style>