<template>
  <div>
    <div class="start">
      <main-header></main-header>
      <div>
        <router-view></router-view>
      </div>
    </div>
    <main-footer></main-footer>
  </div>
</template>

<script>
import MainHeader from './main/MainHeader.vue';
import MainFooter from './main/MainFooter.vue';
export default {
  name: 'Start',
  beforeCreate: function() {
      document.body.className = 'main';
  },
  components: {
    mainHeader: MainHeader,
    mainFooter: MainFooter,
  },
  data () {
    return{
      
    }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
