// colors
$orange:  #ff5733;
$light-grey: #f2f2f2;
$av-grey: #c4c4c4;
$grey: #2c2c39;
$yellow: #DBFF33;
$light-blue: #e5ebf1;
$dark-blue: #798AB1;

//fonts
$main-font: Helvetica, Arial, sans-serif

//font-weight
$small: 400
$normal: 500
$big: 700
$grand: 900


//font-size
$tiny-size: 14px
$small-size: 18px
$normal-size: 24px
$big-size: 36px
$grand-size: 42px



//containers
$max-width: 1440px


//media
$large-width: 1200px
$medium-width: 992px
$small-width: 768px
$extrasmall-width: 480px
$smallest: 320px