$font_path: '../src/assets/fonts/'

@font-face
	font-family: 'Helvetica'
	src: url($font_path + 'HelveticaNeueCyr-Black.ttf')
	font-weight: 900
	font-style: normal
@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-BlackItalic.ttf')
	font-weight: 900
	font-style: italic
@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-Bold.ttf')
	font-weight: 700
	font-style: normal
@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-BoldItalic.ttf')
	font-weight: 700
	font-style: italic
@font-face
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-Italic.ttf')
	font-weight: 400
	font-style: italic
@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-Light.ttf')
	font-weight: 300
	font-style: normal
@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-Medium.ttf')
	font-weight: 500
	font-style: normal

@font-face 
	font-family: Helvetica
	src: url($font_path + 'HelveticaNeueCyr-Thin.ttf')
	font-weight: 200
	font-style: normal
@font-face
	font-family: HelveticaRoman
	src: url($font_path + 'HelveticaNeueCyr-Roman.ttf')
@font-face
	font-family: HelveticaOutline
	src: url($font_path + 'HelveticaOutline.ttf')