@import "_variables"

body
    #app 
        font-family: $main-font
        text-align: center
    &.add-user, &.login
        background: $orange
        display: flex
        justify-content: center
        align-items: center
        height: 100vh
    &.main
        background: $orange
        position: relative
        padding-bottom: 60px
    & .g-container 
        max-width: $max-width
        width: 100%
        margin: 0 auto
        padding: 0 60px
    &.grounds 
        background: $light-grey
        height: calc(100vh + 60px)
        position: relative
        & .main-header__list-item a 
            color: black !important
    &.user-window
        background: white
    &.ground-item 
        background: $grey
    & .button 
        height: 50px
        padding: 0 20px
        font-size: 20px
        border: none
        border-radius: 5px
        color: white
        font-family: Helvetica
        cursor: pointer
    & .button._red 
        background: $orange 
