// Backgrounds
$orange:  #ff5733;
$light-grey: #f2f2f2;
$grey: #2c2c39;

//fonts
$main-font: Helvetica, Arial, sans-serif;

//font-size
$tiny-size: 14px;
$small-size: 18px;
$normal-size: 24px;
$big-size: 36px;
$grand-size: 42px;



//containers
$max-width: 1440px;